body {
	background: #0a4385;
}

.flex-container {
	display: flex;
	background-color: DodgerBlue;

	align-items: center;
	/* align-items: flex-start; */
	/* align-items: flex-end; */
	/* align-items: stretch; */
	/* align-items: baseline; */

	max-width: 1000px;
	min-height: 200px;
}

.flex-container > div {
	background-color: #f1f1f1;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}
