body {
	background: #0a4385;
}

.flex-container {
	display: flex;
	background-color: DodgerBlue;
	height: 300px;
}

.flex-container > div {
	background-color: #f1f1f1;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}

#item_1 { align-self: center; }
#item_2 { align-self: flex-start; }
#item_3 { align-self: flex-end; 
/* #item_4 { align-self: ; } */
